<!DOCTYPE html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
       {{>header}}
    <p>
       <h4> This is Some helpfull text</h4>
    </p>
    </div>
    
    {{>footer}}
</body>


</html>